backend/step-function/definition.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Wait",
  "States": {
    "Wait": {
      "Type": "Wait",
      "Next": "SNS Publish",
      "SecondsPath": "$.delay"
    },
    "SNS Publish": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sns:publish",
      "Parameters": {
        "TopicArn": "${SNSArn}",
        "Subject.$": "$.subject",
        "Message.$": "$.message",
        "MessageAttributes": {
          "to": {
            "DataType": "String",
            "StringValue.$": "$.email"
          }
        }
      },
      "Next": "DynamoDB DeleteItem",
      "ResultPath": null
    },
    "DynamoDB DeleteItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Parameters": {
        "TableName": "${DynamoDbTableName}",
        "Key": {
          "messageid": {
            "S.$": "$.messageid"
          }
        }
      },
      "End": true
    }
  }
}